[submodule "pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.4.3
	shallow = true
[submodule "Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.10.2
	shallow = true
[submodule "net-snmp"]
	path = lib/net-snmp
	url = https://git.code.sf.net/p/net-snmp/code
	branch = v5.8
	shallow = true
